# 源代码
/src

# 配置文件
.gitignore
.eslintrc
tsconfig.json
tsconfig.lib.json
rollup.config.js

# 构建结果
/build
/coverage

# 开发文件
*.log
node_modules
.DS_Store

# 测试文件
*.test.ts
*.test.tsx
__tests__
__mocks__ 